
DATABASE_URL="postgresql://postgres:cuong1182004@localhost:5432/test"
POSTGRES_PASSWORD=123
#postgresql://neondb_owner:npg_BnDpji71eZEv@ep-patient-wave-a1v0hwlv-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&connection_limit=1
REDIS_URL=redis://localhost:6379
REDIS_KEY_PREFIX=dev:app:
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=
PORT=5000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=
JWT_REFRESH_SECRET=

PORT=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URI=
GOOGLE_CLIENT_SECRET=
IMMICH_LOG_LEVEL=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_IGNORE_CERT=false
EMAIL_FROM_NAME="Hệ thống"
EMAIL_FROM_ADDRESS=
EMAIL_REPLY_TO=
